@media screen and (max-width: 992px) {
  /****HEADER *****/
  header #navigation {
    flex-direction: column;
  }
  header #navigation nav a:hover {
    border-top: transparent;
    border-bottom: 2px solid #0065fc;
  }

  /****MAIN *****/

  #hebergements {
    flex-direction: column-reverse;
  }

  /****ACTIVITES***/
  .cardContener {
    flex-wrap: wrap;
    gap: 16px;
    height: auto;
  }
  .simpleCardContainer {
    width: 31%;
    height: 220px;
  }
  .doubleCardContainer {
    flex-direction: row;
    width: 65%;
    height: 220px;
    gap: 16px;
  }
  .carte {
    height: 100%;
  }

  .footer__container {
    flex-wrap: wrap;
    gap: 5px;
  }
  .menu__footer {
    width: 48%;
  }
  #navigation {
    flex-direction: column;
    margin-bottom: 36px;
  }
  #navigation .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 48px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  #navigation nav {
    width: 100%;
    justify-content: space-around;
    padding-right: 0;
  }
  #navigation nav a {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    border-bottom: 2px solid #d9d9d9;
  }
  #navigation nav a:hover {
    border: none;
    color: #0065fc;
    border-top: 2px solid transparent;
    border-bottom: 2px solid #0065fc;
  }
}
